# Dependencies
node_modules/
client/node_modules/

# Environment Variables
config/config.env
.env
.env.local

# Production Builds
client/dist/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store