@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
 
html , body{
    height: 100%;
    width: 100%;
}

.nav{
  display: flex;
  padding: 30px 50px;
  background-color: darkcyan;
  color: white;
  justify-content: space-between;
}

.nav2{
  display: flex;
  gap: 40px;
}

h1{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: darkcyan;
  white-space: nowrap;
}

button{
  position: absolute;
  top: 20%;
  left:50%;
  transform: translate(-50%);
  font-size: 16px;
  background-color: darkcyan;
  padding: 12px 19px;
  color: white;
  border: none;
}

button:active{
  scale: 0.95;
}