*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
html , body{
    height: 100%;
    width: 100%;
}

button{
  padding: 20px 30px;
  margin: 20px;
  background-color: gainsboro;
  font-weight: 500;
  border: none;
  color: #222;
  font-size: 18px;
  cursor: pointer;
}

h1{
  padding: 20px 100px;
  margin: 20px;
  width: fit-content;
  background-color: gainsboro;
  border: none;
  color: #111;
  font-size: 100px;
}

.parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}