*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 
html , body{
    height: 100%;
    width: 100%;
}

button{
  padding: 12px 20px;
  background-color: cadetblue;
  color: #fff;
  border: none;
  margin: 20px;
}

input{
  padding: 12px 20px;
  background-color: cadetblue;
  color: #fff;
  border: none;
    margin: 20px;
    outline: 1px solid white;
}

.box{
  height: 400px;
  width: 400px;
  background-color: cornflowerblue;
}