*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 
html , body{
    height: 100%;
    width: 100%;
}

.wallpaper{
    height: 81.5vh;
    min-width: 100vw;
    object-fit: cover;
}