@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
  background-color: #111;
}
 
html , body{
    height: 100%;
    width: 100%;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}


.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  height: 100px;
}

.nav div{
  display: flex;
  gap: 40px;
  text-decoration: none;
}

.footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
}