@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
 
html , body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

button{
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 5px;
    background-color: green;
    outline: none;
    border: none;
    margin: 10px;
    color: white;
}

button:active{
    scale: 0.9;
}

#textarea{
    height: 200px;
    width: 1000px;
    font-size: 19px;
    padding: 10px;
}