.btn{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #111;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.cBtn{
    display: flex;
    justify-content: center;
    padding: 20px;
}