@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
 
html , body{
    height: 100%;
    width: 100%;
}

.header{
    margin: 40px;
}

.newHabit{
    margin: 40px;

}

.habitList{
    margin: 40px;
}

input{
    font-size: 15px;
    padding: 10px;
}

button{
    padding: 12px 20px;
}

.middle{
    display: flex;
    gap: 10px;
}

.progress-bar{
    background-color: black;
    height: 40px;
    padding: 10px;
    width: 200px;
    margin: 40px;
}

.resetDiv{
    margin: 40px;
}